

$item-gutter: $gs-gutter * .25;
$item-media-ratio: 3 / 5;
$item-width: gs-span(3);
$item-height: gs-height(6);
$item__cutout-width: gs-span(2);
$item__cutout-height: gs-height(3);

.items {
	padding: 0;
}


// items
.item {
	position: relative;
	padding-bottom: $gs-baseline * 3;

	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.item--cutout {
	padding-bottom: $item__cutout-height;
}

// item elements

.item__media-container {
	position: relative;
	width: 100%;
	height: 0;
	display: block;
	padding-bottom: percentage($item-media-ratio);
	overflow: hidden;

	& > * {
		position: absolute;
	}
}

.item__image {
	display: block;
	height: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.item__image--cutout {
	position: absolute;
	bottom: 0;
	right: 0;
	width: $item__cutout-width;
	height: $item__cutout-height;
	z-index: 0;
}

.item__headline,
.item__byline,
.item__standfirst,
.item__meta {
	padding: 0 $item-gutter;
}

.item__headline,
.item__byline {
	@include fs-headline(3);

	.item--headline-boost & {
		@include fs-headline(4);
	}
}

.item__kicker {
	font-size: inherit;
}

.item__headline {
	padding-top: $gs-baseline * .25;

	.item--headline-quote &:before {
		height: 15px;
		width: 17px;
		display: inline-block;
		content: '';
        background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyMCI+PHBhdGggZmlsbD0iIzc2NzY3NiIgZD0iTTcuNyAxMC43YzMgMS4yIDMuOSA1LjMgMS43IDcuNi0yLjIgMi40LTYuMSAyLjEtOC0uNC0yLjItMi44LTEuMy02LjYuMi05LjYgMS42LTMuMSA0LjEtNS45IDcuMS03LjdsLjYuNi02LjUgOS44LjIuMmMxLjMtMSAzLjEtMS4xIDQuNy0uNXptMTAuMS0uNGMzLjQgMCA1LjkgMy43IDQuNCA2LjgtMS41IDMuMi02IDMuOC04LjQgMS4zLTIuNi0yLjctMS44LTYuNy0uNC05LjggMS42LTMuMiA0LjItNi4yIDcuMi04bC42LjYtNi40IDkuOC4yLjJjLjgtLjYgMS44LS45IDIuOC0uOXoiLz48L3N2Zz4=);
        background-size: cover;
    }

    .item--headline-boost.item--headline-quote &:before {
		height: 18px;
		width: 21px;
    }
}

.item__standfirst {
	@include fs-bodyCopy(1);
	margin-top: $gs-baseline;
}

.item__meta {
	position: absolute;
	bottom: 0;
}

.item__comment-count {
	@include fs-textSans(3);
	padding-right: 1ex;
}
