.tone--live {
    background-color: $c-liveDefault;
    color: #ffffff;

    .item__kicker {
        color: $c-liveDefault;
        background-color: #ffffff;
        padding: 2px;

        &::before {
            content: "\25CF";
            font-size: 140%;
            vertical-align: bottom;
        }
    }

    .item__comment-count {
        color: rgba(255, 255, 255, 0.5);
    }
}