@charset "UTF-8";

@import "../../bower_components/sass-mq/_mq";
@import "../../bower_components/guss-css3/_css3";
@import "../../bower_components/guss-rem/_rem";
@import "../../bower_components/guss-grid-system/_grid-system";
@import "../../bower_components/guss-layout/_row";
@import "../../bower_components/guss-layout/_columns";
@import "../../bower_components/guss-webfonts/_webfonts";
@import "../../bower_components/pasteup-palette/_palette";
@import "../../bower_components/guss-colours/_colours";

$guss-webfonts-base-url: '/bower_components/guss-webfonts/';
$guss-webfonts-charset: 'original';
$guss-webfonts-hinting: 'on';
$guss-webfonts-kerning: 'on';
@import "../../bower_components/guss-typography/_typography";
@include guss-webfonts();

$c-brandBlue: guss-colour(guardian-brand, $pasteup-palette);
$c-brandLightBlue: guss-colour(guardian-brand-light, $pasteup-palette);
$c-error: guss-colour(error, $pasteup-palette);

$c-neutral1: guss-colour(neutral-1, $pasteup-palette);
$c-neutral2: guss-colour(neutral-2, $pasteup-palette);
// Enhance contrast of grey text on light grey background
$c-neutral2-contrasted: darken($c-neutral2, 3%);
$c-neutral3: guss-colour(neutral-3, $pasteup-palette);
$c-neutral4: guss-colour(neutral-4, $pasteup-palette);
$c-neutral5: guss-colour(neutral-5, $pasteup-palette);
$c-neutral6: guss-colour(neutral-6, $pasteup-palette);
$c-neutral7: guss-colour(neutral-7, $pasteup-palette);
$c-neutral8: guss-colour(neutral-8, $pasteup-palette);
$c-newsDefault: guss-colour(tone-news-1, $pasteup-palette);
$c-newsAccent: guss-colour(tone-news-2, $pasteup-palette);

$c-featureDefault: guss-colour(tone-features-1, $pasteup-palette);
$c-featureAccent: guss-colour(tone-features-2, $pasteup-palette);
$c-featureAccent2: #b62766;
$c-featuresVariant: #7d0068;

$c-commentDefault: guss-colour(tone-comment-1, $pasteup-palette);
$c-commentAccent: guss-colour(tone-comment-2, $pasteup-palette);
$c-commentAccent2: #ffce4b;
$c-commentDark: #d3a034;

$c-live: #c0031b;
$c-liveDefault: guss-colour(tone-live-1, $pasteup-palette);
$c-liveAccent: guss-colour(tone-live-2), $pasteup-palette;

$c-mediaDefault: $c-commentAccent;




body {
	background-color: guss-colour(neutral-5, $pasteup-palette);
}
.items {
		// just for mockup
	margin-bottom: $gs-baseline;
	&:before, &:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}
	&:after {clear: both}
	li {
		margin-bottom: $gs-gutter * .5;
		margin-right: $gs-gutter * .5;
	}
	li:not(.item) {
		list-style: none;
		@include fs-bodyHeading(2);
		text-transform: capitalize;
		width: gs-span(3)
	}
}

@import "item";
